body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.clock{
    width: 350px;
    height: 350px;
    border: 5px dashed #000;
    border-radius: 50%;
    position: relative;
}

.hour-hand{
    width: 7px;
    height: 80px;
    background-color: blue;
    position: absolute;
    top: 27%;
    left: 49%;
    transform-origin: bottom;
}

.dot{
    width: 15px;
    height: 15px;
    background-color: #000;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.second-hand{
    width: 3px;
    height: 120px;
    background-color: red;
    position: absolute;
    top: 15%;
    left: 49%;
    transform-origin: bottom;
}

.minute-hand{
    width: 5px;
    height: 100px;
    background-color: black;
    position: absolute;
    top: 20%;
    left: 49%;
    transform-origin: bottom;
}

.number{
    position: absolute;
    font-size: 15px;
    font-weight: bold;
}

.number12{
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.number3{
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.number6{
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.number9{
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

.number1{
    top: 10%;
    right: 25%;
}

.number2{
    top: 25%;
    right: 10%;
}

.number4{
    bottom: 25%;
    right: 10%;
}

.number5{
    bottom: 9.5%;
    right: 25%;
}

.number7{
    bottom: 9.5%;
    left: 25%;
}

.number8{
    bottom: 25%;
    left: 10%;
}

.number10{
    top: 25%;
    left: 10%;
}

.number11{
    top: 10%;
    left: 25%;
}

